.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}


.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}


.justify-content-between{
  justify-content: space-between;
}

.text-bold{
  font-weight: bold;
}